@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.center-square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
}

.square {
  width: 400px; /* Adjust the width of the square as needed */
  height: 600px; /* Adjust the height of the square as needed */
  background-color: #e2e8f0; /* Change color as needed */
  border: 2px solid #2d3748; /* Change color as needed */
  border-radius: 0.25rem; /* Adjust border radius as needed */
}
